<%= form_for([@project, @task ], remote: true) do |f| %>
<div class="row edit-task">
  <div class="col-md-2 col-md-offset-1">
    <%= f.text_field :deadline, class: "task_deadline", placeholder: "YY-MM-DD" %>
  </div>
  <div class="col-md-7 new-task-input">
    <%= f.text_field :content, class: "form-control" %>
  </div>
  <div class="col-md-2">
      <%= f.submit "Edit task", class: "btn task" %>
  </div>
  </div>
<% end %>
