<%= form_for(project, remote: true, html: {class: "form-inline"}) do |f| %>
  <div class="row">
  <div class="col-md-1 col-md-offset-1">
    <i class="fa fa-calendar fa-2x"></i>
  </div>
  <div class="col-md-7 col-md-offset-1">
    <%= f.text_field :title, class: "form-control" %>
    <%= f.submit "Edit", class: "btn btn-default" %>
  </div>
  </div>
<% end %>

