      <div class="row project-header" id="project_row_<%= project.id %>">
        <div class="col-md-1 col-md-offset-1">
          <i class="fa fa-calendar fa-2x"></i>
        </div>
        <div class="col-md-7 project-title"><%= project.title %></div>
        <div class="col-md-2">
          <%= link_to edit_project_path(project), id: "edit_project", remote: true do %>
            <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to project, method: :delete, id: "delete_project", remote: true,  data: { confirm: 'Are you sure?' }  do%>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>
      </div>