  <% @projects.each do |project| %>

    <%= render partial: "project", locals: {project: project} %>

  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to new_project_path, id: "new_project_link", name: "new_project_link", remote: true, class: "btn project" do %>
        <i class="fa fa-plus" ></i> Add TODO list
      <% end %>
    </div>
  </div>
