/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree
 *= require_self
 */


$color: #96CDB0 !default;
$border-radius-base: 0px !default;
$link-color: #999;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "jquery.ui.core";
@import "jquery.ui.theme";
@import "jquery.ui.datepicker";


body {
  background: rgba(235,233,249,1);
  background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 38%, rgba(206,199,236,1) 62%, rgba(193,191,234,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(38%, rgba(216,208,239,1)), color-stop(62%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
  background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 38%, rgba(206,199,236,1) 62%, rgba(193,191,234,1) 100%);
  background: -o-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 38%, rgba(206,199,236,1) 62%, rgba(193,191,234,1) 100%);
  background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 38%, rgba(206,199,236,1) 62%, rgba(193,191,234,1) 100%);
  background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 38%, rgba(206,199,236,1) 62%, rgba(193,191,234,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=0 );

  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h1, h4 {
  text-align: center;
}

.project-header > div[class*='col-'] {
  height: 50px;
  padding: 10px 0 12px 12px;
  background: linear-gradient(to bottom, #5689b6 0%,#335791 100%);
  &.project-title {
    color: white;
    font-size: 22px;
  }
  .fa-pencil {
    border-right: 1px solid #999;
    padding-right: 5px;
    margin-right: 0px;
    color: #fff;
  }
  .fa-trash {
    color: #fff;
  }

}

.new-task div[class*='col-'] {
  background: #ccc;
  height: 50px;
  padding: 8px 0 10px 10px;
  input[type="text"]:not(#task_deadline) {
    height: 30px;
    color: #bbb;
    background-color: #fff;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.75);
    border: 0;
    outline: none;
  }
  &:last-child {
    padding-left: 0px;
    .btn.task {
      width: 108px;
      height: 30px;
      cursor: pointer;
      font-size:14px;
      color: #fff;
      text-align:center;
      text-shadow: 0 1px 0 #000;
      border: 1px solid #447556;
      border-radius: 0 5px 5px 0;
      background: #4D8464;
      background: linear-gradient(#73bd96 0%,#4D8464 97%);
    }
  }
}

[id*='task_row']:nth-last-child(2) [class*='col-'] {
  border-bottom: 1px solid #aaa;
  &:first-child {
    border-bottom-left-radius: 10px;
    }
  &:last-child {
    border-bottom-right-radius: 10px;
    }
  }

#task_row_ {
  margin-bottom: 70px;
}


div.project .row > [class*='col-'] {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  &:last-child {
    border-right: 1px solid #aaa;
  }
  &:first-child {
    border-left: 1px solid #aaa;
  }
}


div[id*='task_row'] .fa-pencil {
  border-right: 1px solid #999;
  padding-right: 5px;
  margin-right: 0px;
  border-left: 1px solid #999;
  padding-left: 5px;
  margin-left: 0px;
}

#task_deadline {
  font-size: 10px;
  max-width: 60px;
}

div.project i:not(#checkbox):not(.fa-calendar) {
  opacity: 0;
}

div.project div[id*='task_row'] .row:hover > [class*='col-'] {
  background-color: #FFF6EC;
}

div.project .row:hover i:not(#checkbox) {
  opacity: 0.7;
}

div[id*='task_row'] [class*='col-'] {
  background: #fff;
}

.btn.project {
      width: 180px;
      height: 50px;
      cursor: pointer;
      font-size:18px;
      color: #fff;
      text-align:center;
      text-shadow: 0 1px 0 #000;
      border-radius: 2px 2px 2px 2px;
      background: #335791;
      background: linear-gradient(to bottom, #5689b6 0%,#335791 100%);
    }